#Google API Enviroments
SCOPES="https://www.googleapis.com/auth/drive.metadata.readonly,"
CREDENTIAL_FILENAME="credentials.json"
PAGE_SIZE=100

#LinkedIn Enviroments
COMPANY_FILENAME="companies_linkedin.csv"
ACCOUNT_NAME=
ACCOUNT_PASSWORD=

#G2 Crowd Enviroments
G2_FILENAME="g2_companies.csv"
